<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inequality &amp; Mass Transit in the Bay Area</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat' rel='stylesheet' type='text/css'>
    <script src="./assets/libs/jquery.1.9.1.min.js"></script>
    <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="./assets/libs/d3/d3.min.js"></script>
    <script src="./assets/libs/topojson.v1.min.js"></script>
    <script src="./assets/libs/angular/angular.min.js"></script>
    <script src="./assets/js/app.js"></script>
</head>
<body>
    
<!-- New Layout --> 
    
    <div class="container" data-ng-controller="AppCtrl">
        <div class="page-header">
            <h1>Changes in Bay Area Income <small>1990–2010 </small></h1>
        </div>
        <p><span class="help-block">Choose a transit line, and see how median income has changed over the years at each stop.</span>
            
    
   
        
           <div data-ng-show="agencies"><div class="agency-container">
            <div class="btn-group">
            <button type="button" class="btn btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Choose Transit Line <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>BART</li>
                <li data-ng-repeat="(routeId, route) in agencies['BART'].routes">
                    <a href="#" data-ng-click="displayRoute('BART', routeId)">
                    <span class="swatch" data-ng-style="{'background-color': route.color}"></span>
                    {{route.name}}
                    </a>
                </li>
                <li class="divider"></li>
                <li>MUNI</li>
                <li data-ng-repeat="(routeId, route) in (agencies['MUNI'].routes | orderBy:'name')">
                    <a href="#" data-ng-click="displayRoute('MUNI', routeId)" data-ng-hide="route.important">
                      {{route.name}}
                    </a>
                </li>
                <li>Caltrain</li>
                <li>
                        <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_local_20121001')">
                        <span class="swatch" style="background-color: white"></span> 
                        Local</a>
                    </li>
                    <li>
                        <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_limited_20121001')">
                        <span class="swatch" style="background-color: yellow"></span> 
                        Limited</a>
                    </li>
                    <li>
                        <a href="#" data-ng-click="displayRoute('CalTrain', 'ct_bullet_20121001')">
                        <span class="swatch" style="background-color: red"></span> 
                        Bullet</a>
                </li>
            </ul>
        </div>
        </div></div>
        </p>
    
    
        <!--<form role="form">
            <span class="help-block">Choose a line, and see how median income has changed over the years at each stop.</span>
            <select class="form-control input-lg">
                <optgroup label="BART" data-ng-click="displayRoute('BART', routeId)">
                    <option data-ng-repeat="(routeId, route) in agencies['BART'].routes">
                        {{route.name}}
                    </option>
                </optgroup>
                <optgroup label="MUNI">
                    <option data-ng-repeat="(routeId, route) in (agencies['MUNI'].routes | orderBy:'name')"  data-ng-click="displayRoute('MUNI', routeId)" data-ng-hide="route.important">
                        {{route.name}}
                    </option>
                </optgroup>
                <optgroup label="Caltrain">
                    <option>Local</option>
                    <option>Limited</option>
                    <option>Bullet</option>
                </optgroup>
            </select>
        </form>-->
        <h2>Key</h2>
        <div id="graph" class="well">
          <div id="instructions"><p>Graph Placeholder</p></div>
        </div>
        <h2>About</h2>
        <p>Source: US Census 1990, 2000, 2010. Adjusted for inflation using this formula for Consumer Price Index: 2014 Wages = 2000 Wages x (2014 CPI-U / 2000 CPI-U).</p>
        <p>Created by <a href="https://twitter.com/theLemonZest">@thelemonzest</a>, <a href="https://twitter.com/dget">@dget</a>, and <a href="https://twitter.com/eddie_ruvalcaba">@eddie_ruvalcaba</a> for the San Francisco <a href="http://codeforamerica.org/brigade/">Code for America Brigade</a>.</p>
        <p>Built on <a href="http://dangrover.github.io/sf-transit-inequality/">work</a> by <a href="https://twitter.com/dangrover">@dangrover</a>.</p>
    </div>
    
</body>
</html>
