body {font-family: 'Open Sans', sans-serif; color: #999;}

h1 small, h2 {color: #1fbba6;
    font-family: 'Montserrat',sans-serif;
    font-size: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;}
h2 {margin-top: 30px; font-size:16px;}

p {color: #444;}

a {color: #1fbba6;}
a:hover, a:focus {color: #178778;}

.page-header {border-bottom: none;}

.btn-primary {background-color: #1fbba6;border-color: #1ba18f;}

.select {background: url(new_arrow.png) no-repeat right #fff;}

#tooltip {
    border: #ccc 1px solid;
    position: fixed;
    visibility: hidden;
    border-radius: 4px;
    padding: 4px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    z-index: 10;
    font-size: 11px;
}

div svg {
    overflow: visible;
}

#graph {
    padding-left: 20px;
    z-index: 6;
}

path.data-line {
    stroke-width: 4;
    fill: none;
}

path.route-line {
    stroke-width: 2;
    fill: none;
}


.axis line, .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Helvetica, sans-serif;
    font-size: 9px;
}
